@media (max-width: 576px) {
  #navbar .search-bar {
    display: none;
  }
  #navbar {
    height: 150px;
    display: block;
    text-align: center;
  }

  #navbar ul {
    width: 100%;
    flex-direction: column;
  }
  #navbar ul li {
    width: 100%;
    border-bottom: 1px dotted #ddd;
  }
  #band-section .row,
  #tour-section .row,
  #contact-section .row {
    flex-wrap: wrap;
  }
  #band-section .box,
  #tour-section .card {
    width: 100%;
  }

  #footer-section .container {
    flex-wrap: wrap;
  }
}
