@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities  */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #fff;
}

h1,
h2 {
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.bg-dark {
  color: #fff;
  background: #000;
}
.bg-light {
  color: #000;
  background: #fff;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background: #333;
  color: #fff;
  padding: 0.6rem 1rem;
  transition: all 0.5s;
}

.btn:hover {
  background: transparent;
  color: #333;
  border: 1px solid #333;
}

.content-heading {
  text-align: center;
}

.logo {
  color: #ff4500;
  font-weight: 500;
}

.text-primary {
  background: #ff4500;
  color: #fff;
}
.text-light {
  color: #666;
  font-size: 0.8rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Navbar */
#navbar {
  height: 50px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}
#navbar ul li {
  margin-right: 2rem;
}
#navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}

#navbar ul li a:hover {
  color: #ff4500;
}
#navbar .search-bar {
  color: #fff;
  background: transparent;
}

/* Header  */

#header-section {
  height: 100vh;
  background: url("../images/bannar.jpg") no-repeat center center/cover;
  padding: 1rem;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #fff;
  text-align: center;
}

#header-section h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Band  */

#band-section .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#band-section .row p {
  text-align: center;
}

#tour-section .tour-content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

/* m  */
#tour-section .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tour-section .card {
  width: 31%;
}

#tour-section .tour-content ul li {
  border-bottom: 1px dotted #666;
  padding: 0.7rem;
}
#tour-section .tour-content ul li:last-child {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Contact  */
#contact-section .row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* #contact-section .address,
#contact-section .form-group {
  width: 48%;
} */

#contact-section .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-section input[type="text"],
#contact-section input[type="email"],
#contact-section textarea {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  height: 2.2rem;
}
#contact-section .btn {
  float: right;
}

#footer-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#footer-section ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#footer-section ul li {
  margin-left: 10px;
}
#footer-section ul li a {
  color: #333;
  font-size: 1.5rem;
}

#footer-section ul li a:hover {
  color: #ff4500;
}
